*, *::before, *::after {
	box-sizing: inherit;
}
html, body {
    height: 100%;
  }
html {
	box-sizing: border-box;
	--global-color-primary: #1f1f1f; 
	--global-color-secondary: #343435;   /* main colour */
	--alt-color:#ae976f;    /* variant */
	--prim-text-color: #ffffff;     /* for text or icons */
	--alt-text-color: #b9b9b9;     /* for text or icons */
	--text-color: #000;     /* for text or icons */
	--secondary-alt: #B53471;
	--secondary-on: #251515;
	--btn-color:#006266;
	--font-family-sans-serif: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    --font-family-monospace: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
}
body {
    display: flex;
    flex-direction: column;
	margin: 0px;
	background-color: var(--alt-text-color);
	font-family: var(--font-family-monospace);
	color: var(--prim-text-color);
}
p{
    font-size: 1.2rem;
	font-family: var(--font-family-sans-serif);
	color: var(--text-color);
}

img {
	max-width: 100%;
	height: auto;
	vertical-align: bottom;
}

ul, ol, dl {
	list-style: none;
	margin: 0;
	padding: 0;
}

 button {
	margin: 0;
	font: inherit;
}
 
a, button, a:hover {
    color:var(--alt-color);
    text-decoration: none;
    transition: all .25s ease;
    cursor: pointer;
}